@use '_reset';
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
    --fs-300: 0.9rem;
    --fs-400: 1rem;
    --fs-600: 1.2rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;

    --fc-primary: hsl(0 0% 0% / 1);

    --clr-bg-primary: hsl(0 0% 100% / 0.3);
    --clr-bg-dark: hsl(0 0% 0% / 0.3);
    --clr-bg-light: hsl(0 0% 100% / 0.6);

    --clr-btn-primary: hsl(0 0% 0% / 0.2);
    --clr-btn-hover: hsl(0 0% 0% / 0.3);

    --shadow-primary: 0 0 10px hsl(0 0% 0% / 0.2);

    --clr-ship-miss: hsl(0 0% 0% / 1);
    --clr-ship-hit: hsl(0 100% 75% / 1);
    --clr-ship-sunk: hsl(0 100% 75% / 1);
    --clr-ship-friendly: hsl(120 72% 44% / 1);
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--clr-bg-accent);
    border-radius: 100vmax;
}

::-webkit-scrollbar-thumb {
    background: var(--clr-btn-primary);
    border-radius: 100vmax;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--clr-btn-accent);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--fc-primary);
    font-family: 'Patua One', cursive;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(
        to right top,
        #54c2d3,
        #46bbdf,
        #4db2e9,
        #67a7ed,
        #8799e9,
        #8799e9,
        #8799e9,
        #8799e9,
        #67a7ed,
        #4db2e9,
        #46bbdf,
        #54c2d3
    );
}

/////////////////////////////////
///       HEADER SECTION
/////////////////////////////////

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-primary);
    width: 100%;
    min-height: 5rem;
    box-shadow: var(--shadow-primary);
}

/////////////////////////////////
///       MAIN SECTION
/////////////////////////////////

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 75rem;
    width: 100%;
    padding: 1rem 0;
    overflow-y: auto;
    overflow-y: overlay;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board-one,
.board-two {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 22rem;
    aspect-ratio: 1;
    background-color: var(--clr-bg-primary);
    margin: 1rem;
    outline: 1px solid black;
    box-shadow: var(--shadow-primary);
}

.board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

    &.friendly {
        background-color: var(--clr-ship-friendly);
    }

    &.hit::before {
        content: '';
        width: 50%;
        height: 50%;
        border-radius: 100vmax;
        background-color: var(--clr-ship-hit);
    }

    &.sunk {
        background-color: var(--clr-ship-sunk);
    }

    &.miss::before {
        content: '';
        width: 50%;
        height: 50%;
        border-radius: 100vmax;
        background-color: var(--clr-ship-miss);
    }
}

/////////////////////////////////
///       MODAL SECTION
/////////////////////////////////

.modal {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-dark);
}

.modal-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: var(--clr-bg-light);
    border-radius: 2rem;
    box-shadow: var(--shadow-primary);
}

.modal-outcome {
    font-size: var(--fs-800);
}

.modal-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 22rem;
    aspect-ratio: 1;
    background-color: none;
    box-shadow: var(--shadow-primary);
    outline: 1px solid black;

    &-cell {
        border: 1px solid black;
    }

    &-ship {
        position: relative;
        width: 100%;
        aspect-ratio: 1;
        background-color: var(--clr-ship-friendly);
        cursor: move;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--clr-ship-friendly);
        }

        // HORIZONTAL SHIPS

        &.hor-1::after {
            width: 0;
        }

        &.hor-2::after {
            left: 100%;
            width: calc(100% + 2px);
        }

        &.hor-3::after {
            left: 100%;
            width: calc(200% + 4px);
        }

        &.hor-4::after {
            left: 100%;
            width: calc(300% + 6px);
        }

        &.hor-5::after {
            left: 100%;
            width: calc(400% + 8px);
        }

        // VERTICAL SHIPS

        &.vert-2::after {
            bottom: calc(-100% - 2px);
            height: calc(100% + 2px);
        }

        &.vert-3::after {
            bottom: calc(-200% - 4px);
            height: calc(200% + 4px);
        }

        &.vert-4::after {
            bottom: calc(-300% - 6px);
            height: calc(300% + 6px);
        }

        &.vert-5::after {
            bottom: calc(-400% - 8px);
            height: calc(400% + 8px);
        }
    }
}

.modal-random {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 100vmax;
    background: none;
    cursor: pointer;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1rem 0 1rem;
}

.modal-name-label {
    font-size: var(--fs-600);
}

.modal-name-input {
    all: unset;
    font-size: var(--fs-600);
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.modal-submit {
    font-size: var(--fs-600);
    padding: 0.4rem 1.2rem;
    border: none;
    border-radius: 100vmax;
    background-color: var(--clr-btn-primary);
    box-shadow: var(--shadow-primary);
    cursor: pointer;
}

@supports (backdrop-filter: blur(2rem)) {
    .modal {
        background-color: hsl(0 0% 0% / 0);
        backdrop-filter: blur(2rem);
    }
}

/////////////////////////////////
///       FOOTER SECTION
/////////////////////////////////

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-bg-primary);
    width: 100%;
    min-height: 2.5rem;
    box-shadow: var(--shadow-primary);
}

.footer-link {
    display: flex;
    align-items: center;
    color: inherit;

    & svg {
        margin-left: 0.2rem;
        width: 1.25rem;
    }
}

/////////////////////////////////
///       Utilitiy Classes
/////////////////////////////////

.display-none {
    display: none;
}
